<% if message.user.id != message.chatroom.booking.venue.user.id %>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="content text-end text-right pr-2 pt-2 pb-2">
      <div class="pr-2">
        <i class="author">
          <span><%= message.user.first_name %></span><br>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small><br>
        </i>
        <span><%= message.content %></span>
      </div>
      <% if message.user.photo.attached? %>
        <%= cl_image_tag message.user.photo.key, class: "avatar-large-bordered" %>
      <% else %>
        <%= image_tag "avatar-1.png", class: "avatar-large-bordered" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="content pl-2 pt-2 pb-2">
      <% if message.user.photo.attached? %>
        <%= cl_image_tag message.user.photo.key, class: "avatar-large-bordered" %>
      <% else %>
        <%= image_tag "avatar-1.png", class: "avatar-large-bordered" %>
      <% end %>
      <div class="pl-2">
        <i class="author">
          <span><%= message.user.first_name %></span><br>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small><br>
        </i>
        <span><%= message.content %></span>
      </div>
    </div>
  </div>
<% end %>
