<% if message.user.id != message.chatroom.booking.venue.user.id %>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="content text-end text-right pr-2 pt-2 pb-2">
      <div class="pr-2">
        <i class="author">
          <span><%= message.user.first_name %></span><br>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small><br>
        </i>
        <span><%= message.content %></span>
      </div>
      <img class="avatar-large-bordered" src="https://cf.ltkcdn.net/socialnetworking/images/orig/168795-400x400-Female-Avatar-2-lg.jpg" height="70px" alt="">
    </div>
  </div>
<% else %>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="content pl-2 pt-2 pb-2">
      <img class="avatar-large-bordered" src="https://cf.ltkcdn.net/socialnetworking/images/orig/168795-400x400-Female-Avatar-2-lg.jpg" height="70px" alt="">
      <div class="pl-2">
        <i class="author">
          <span><%= message.user.first_name %></span><br>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small><br>
        </i>
        <span><%= message.content %></span>
      </div>
    </div>
  </div>
<% end %>
