<div class="container">
  <%# If current_user has a venue, assume they are a venue owner %>
  <% if @venue.empty? %>
    <h3 class="text-center m-3"><%= current_user.first_name.capitalize %>'s Bookings</h3>
  <% else %>
    <h3 class="text-center m-3">Bookings</h3>
  <% end %>

  <div class="shortlist-container">
    <%# If current_user has a venue, show pending bookings for that venue %>
    <% unless @venue.empty? %>
       <% @venue_bookings.each do |booking| %>
        <%= render partial: "/shared/owner_list_card", locals: { booking: booking } %>
      <% end %>
    <% else %>
      <%# Otherwise, show a list of accepted bookings for the user %>
      <% if @user_bookings.empty? %>
        <h5 class="m-5">No bookings</h5>
        <%= link_to "Find a venue", root_path, class: "btn" %>
      <% else %>

        <% if @current_bookings.any? %>
          <h5 class="mt-3">Current bookings</h5>
          <% @current_bookings.each do |booking| %>
            <%= render partial: "/shared/list_card", locals: { booking: booking } %>
          <% end %>
        <% else %>
          <h5 class="m-5">No current bookings</h5>
        <% end %>

        <h5 class="mt-3">Your past bookings:</h5>
        <% @past_bookings.each do |booking| %>
          <%= render partial: "/shared/list_card", locals: { booking: booking } %>
        <% end %>

      <% end %>
    <% end %>
    <br>
    <%= link_to "Back to shortlist", shortlist_path, class:"btn" %>
  </div>
</div>
</div>
