<div class="container">
  <h1 class="text-center m3">Booking info</h1>
  <p><%= @booking.user.first_name %> <%= @booking.user.last_name %>, you have a booking at <%= @booking.venue.name %>
  starting at <%= @booking.start.strftime("%H:%M %d/%m/%y") %> for <%= @booking.length %> hours.</p>
</div>