<div class="shortlist-card">  
  <div class="shortlist-card-image-box">
    <% if booking.venue.photos.any? %>
      <%= cl_image_tag booking.venue.photos[1].key, height: 90, width: 90, crop: :fill %>
    <% end %>
  </div>
  <div class="shortlist-card-text-container">
    <p><%= booking.venue.name %></p>
    <p><%= booking.start.strftime("%H:%M %d/%m/%y") %>
    <%= booking.length %> hour(s)</p>
    <%#= icon("fas", "fa-comments") %>
    <%#= icon("fas", "fa-window-close") %>
    <div class="shortlist-card-button-container">
      <%= link_to "View", venue_booking_path(booking.venue, booking), class: "btn w-50" %>    
      <% if booking.confirmed %>
        <div class="shortlist-card-status shortlist-card-accepted"></div>
      <% else %>
        <div class="shortlist-card-status shortlist-card-pending"></div>
      <% end %>
    </div>
  </div>   
</div>



