<% if current_user && current_user.bookings.any? %>
  <% notify = false %>
  <% current_user.bookings.each do |booking| %>
    <% if booking.confirmed && !booking.seen %>
     <% notify = true %>
    <% end %>    
  <% end %>
<% end %>

<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
    <% if notify %>
      <div class="notifier-toggler"></div>
    <% end %>    
  </button>

  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
       <%= image_tag 'logo.png' %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Shortlist", shortlist_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          <% if notify %>
            <div class="notifier-menu-item"></div>            
          <% end %>    
        </li>
        <li class="nav-item">
          <%= link_to "Reviews", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign up", "users/sign_up", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>