<p><b> <%= @booking.user.first_name %> <%= @booking.user.last_name %> </b> has requested a booking at:</p>
   <h3 class="white-p"><%= @booking.venue.name %></h3>
   <small class="white-p"><%= @booking.venue.address %></small>
   <br>
   <br>
  <p>From <%= @booking.start.strftime("%H:%M")%> on <%= @booking.start.strftime("%d/%m/%y") %>,
   for <%= @booking.length %> hours.</p>
   <% if @booking.confirmed %>
     <p class="white-p">You have confirmed this booking</p>
   <% elsif @booking.confirmed == nil %>
      <p>You have not confirmed this booking yet.</p>
   <% else %>
      <p>You have rejected this booking.</p>
   <% end %>

   <% if @booking.confirmed %>      
      <%= link_to "Reject booking", reject_booking_path(@booking), method: :post, class: "btn m-2 accept-booking" %>
   <% else %>
      <%= link_to "Accept booking", accept_booking_path(@booking), method: :post, class: "btn m-2 accept-booking" %>
   <% end %>

    <%= link_to "All bookings", bookings_path, class: "btn m-2" %>
