<div class="review-card">
  <p>Review by <strong><%= review.user.first_name %></strong> on <%= review.created_at.strftime("%d/%m/%y") %></p>   
  <p>Overall: <%= "â­" * review.overall_rating %></p>     
  <p>Heat: <%= "ðŸ”¥" * review.heat_rating %></p>     
  <p>Price: <%=  (icon('fas', 'pound-sign') + " ") * review.pricing_rating %></p>
</div>