<div class="review-card">
  <div class="image-review">
    <% if review.user.photo.attached? %>
      <%= cl_image_tag review.user.photo.key, class: "avatar-extra-large-bordered" %>
    <% else %>
      <%= image_tag "avatar-1.png", class: "avatar-extra-large-bordered" %>
    <% end %>
  </div>
  <div class="info">
    <p>Review by <strong><%= review.user.first_name %></strong><br>on <%= review.created_at.strftime("%d/%m/%y") %></p>
    <p>Overall: <%= "â­" * review.overall_rating %></p>
    <p>Heat: <%= "ðŸ”¥" * review.heat_rating %></p>
    <p>Price: <%=  (icon('fas', 'pound-sign') + " ") * review.pricing_rating %></p>
  </div>
</div>

