<h2><%= link_to venue.name, venue_path(venue) %></h2>
<p><%= venue.address %> </p>
<% if venue.photos.attached? %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% venue.photos.each_with_index do | photo, index | %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100 carousel-picture-home" %>
          </div>
        <% end %>
        <% if venue.reviews.any? %>
          <div class="overall-rating">
            <%= "â­" * venue_overall_rating %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<% end %>
