<div class="container">
  <div class="info-and-image">
    <div class="profile-info">
     <h1 class="name"><%= @user.first_name %> <%= @user.last_name %></h1>
     <h2 class="address"><%= @user.address.capitalize! %></h2>
     <% if @user.reviews.present? %>
      <h2 class="reviews"> <%= @user.reviews %> </h2>
      <% else %>
      <h2 class="reviews"> My reviews: </h2>
     <% end %>
     <div class="reviews-box">
      </div>
     <% if @user.favourite_beer.present? %>
      <h2 class="favourite_beer"> My favourite beer is <%= @user.favourite_beer.capitalize! %> </h2>
     <% end %>
    </div>
    <div class="profile-image">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class:"profile-image" %>
      <% else %>
        <%= image_tag 'https://picsum.photos/200/300', class:"profile-image" %>
      <% end %>
    </div>
  </div>
  <h5 class="link-to-profile"><%= link_to "Edit my profile", "users/edit" %></h5>
</div>


