<br>
<br>
<br>
<div class="container">
  <h3 class="text-center m-3"><%= @user.first_name %>'s shortlist</h3>
  <div class="shortlist-container">
    <% if @shortlist.empty? %>
      <h5 class="m-5">Nothing here</h5>
        <p><%= link_to "Find a venue", root_path, class: "btn btn-primary" %></p>
        <p>or</p>
        <p><%= link_to "Your bookings", bookings_path, class: "btn btn-primary" %></p>
    <% else %>
      <% @shortlist.each do |booking| %>
        <%= render partial: "shared/list_card", locals: { booking: booking } %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="chat-popup">
  <div id="close"><%= link_to "x", shortlist_path %></div>
</div>

