<div class="container">
  <h1 class="mt-3 text-center">Welcome to <br>
    <%= @venue.name %></h1>
  <h3 class="mt-2"> <%= @venue.category%></h3>
  <h4 class="mt-2" id="venue-address"> <%= @venue.address%></h4>
  <br>
  <h5><strong> Description </strong></h5>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate ab nulla quae? Quo laborum saepe fugiat dolores odit natus quaerat obcaecati, dolore sit aperiam nisi enim repudiandae dicta iusto?</h5>
  <br>
  <h6 class="mt-2 text-right"> <%= link_to "Back to map", root_path, class: "btn btn-primary" %> <br>
  <%= link_to "Request Booking",  new_venue_booking_path(@venue), class: "btn btn-primary" %>
  <h6 class ="mt-3 text-right">OR</h6>
  <h6 class="mt-2 text-right"> <%= link_to "Get there", "", class: "btn btn-primary", id: "sweet-alert"%></h6>
  <h1 class ="mt-3 text-center"> Map <br> here</h1>
</div>
