<div class="container">
    <h1 class="mt-2 text-center">Welcome to <br></h1>
    <h1 class="mt-2 text-center"> <strong> <%= @venue.name %></strong></h1>
    <h2 class="mt-2 text-center"> <%= @venue.category%></h2>
    <br>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @venue.photos[0].key, crop: :fill, class:"d-block carousel-picture-show" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @venue.photos[1].key, crop: :fill, class:"d-block carousel-picture-show" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @venue.photos[2].key, crop: :fill, class:"d-block carousel-picture-show" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <br>
  </div>
    <%= link_to "Request Booking",  new_venue_booking_path(@venue), class: "btn" %>
    <h6 class="mt-2 text-center"> <%= link_to "Get there", "", class: "btn", id: "sweet-alert"%></h6>
    <h6 class ="mt-3 text-center">OR</h6>
    <h6 class="mt-2 text-center"> <%= link_to "Back to map", root_path, class: "btn" %></h6> <br>
    <h5 class="mt-2 text-center" id="venue-address"> <%= @venue.address%></h5>
</div>
